<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Course</title>
</head>
<body>
    <h1>Add New Course</h1>
    <form method="POST" action="{{ url_for('add_course') }}">
        <label for="title">Course Title:</label><br>
        <input type="text" id="title" name="title" required><br><br>
        
        <label for="description">Course Description:</label><br>
        <textarea id="description" name="description" required></textarea><br><br>

        <label for="teacher">Course teacher:</label><br>
        <input type="text" id="teacher" name="teacher" required><br><br>
        
        <input type="submit" value="Add Course">
    </form>

  
</body>
</html>
